<div class="container">
    <h2>Sales</h2>
    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                  <th>Transaction id</th>
                  <th>Date</th>
                  <th>Customer ID</th>
                  <th>No. of Items</th>
                  <th>amount</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngFor="let sale of salesCollect; let i = index;">
                <tr>
                  <td>{{sale._id}}</td>
                  <td>{{sale.date}}</td>
                  <td>{{sale.customerId}}</td>
                  <td>{{sale.items.length}}</td>
                  <td>{{sale.totalPrice}}</td>
                  <td><button type="button" class="btn btn-info" (click)="viewSales(sale)">View</button></td>
                </tr>
              </tbody>
        </table>

        <div class="float-right" id="totalHolder">
          <h2><span class="badge badge-pill badge-primary">Total Sales: {{totalSales}}</span></h2><br>

      </div>
    </div>
</div>
