<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>First step</ng-template>
        <h3>Step content #1</h3>
        <button nbButton disabled nbStepperNext>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Second step</ng-template>
        <h3>Step content #2</h3>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step label="Third step">
        <h3>Step content #3</h3>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>Fourth step</ng-template>
        <h3>Step content #4</h3>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>

<nb-card class="col-md-4 col-lg-4 col-xxxl-4">
  <nb-card-body>
    Test 1
  </nb-card-body>
</nb-card>

<nb-card class="col-md-4 col-lg-4 col-xxxl-4">
  <nb-card-body>
    Test 2
  </nb-card-body>
</nb-card>

<nb-card class="col-md-4 col-lg-4 col-xxxl-4">
  <nb-card-body>
    Test 3
  </nb-card-body>
</nb-card>

<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <div class="row">
      <div class="col-md-4">Test 3.1</div>
      <div class="col-md-4">Test 3.2</div>
      <div class="col-md-4">Test 3.3</div>
    </div>
  </nb-card-body>
</nb-card>